<div class="container-fluid">
  <div class="jumbotron">
  <h1>Welcome to Unfreeze Seattle:</h1>
  <p>
    This is a site to assist those looking for places and points of interest in a particular neighborhood. It includes local parks, landmarks, and museums in the chosen neighborhood and is intended to assist those new to this area for things they can find around this wonderful city. <br><br> Our goal with this project was to provide local information that went beyond the bars and restaurants of one's immediate surroundings. <br><br> Stay tuned for more great features coming soon!
  </p>
  </div>
</div>
