<div class="container-fluid text-center about-us">
  <h2>Unfreeze Seattle is built by:</h2>
  <br>
  <ul class="list-group">
    <li class="list-group-item">Rachel Rouston <br><span><a href="https://github.com/RSR312-206" target="_blank">Github</a> <a href="https://www.linkedin.com/in/rachelroutson"target="_blank">LinkedIn</a></span></li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">Lionel Lints <br><span><a href="https://github.com/lionel-lints" target="_blank">Github</a> <a href="https://www.linkedin.com/in/lionellints"target="_blank">LinkedIn</a></span></li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">Dmitry Gempler <br><span><a href="https://github.com/DGempler" target="_blank">Github</a> <a href="https://www.linkedin.com/pub/dmitry-gempler/26/958/702"target="_blank">LinkedIn</a></span></li>
  </ul>
  <ul>
      <li class="list-group-item"> Mary Mott<br><span><a href="https://github.com/marytmott"target="_blank">Github</a></span></li>
  </ul>
</div>


