<!-- neighborhood text selections/links -->

<div id="map-canvas"></div>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d172175.81060296373!2d-122.40800377986393!3d47.60188588576777!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1445296982129" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 -->