<!-- neighborhood text selections/links -->

<h2>Select a Seattle Neighborhood for more information:</h2>
<div class="select-main">Click here for neighborhoods</div>
<div class="dropdown">
  <% @neighborhoods.each do |neighborhood|%>
    <%= link_to neighborhood.display_name, neighborhood_path(neighborhood.name) %>
  <% end %>
</div>




<div id="map-canvas"></div>