<!-- neighborhood text selections/links -->
<%= javascript_include_tag "map" %>

<div class="container-fluid text-left">
  <div class="row">
    <div class="col-lg-12">
      <h2>Select a Seattle Neighborhood for more information:</h2>
    </div>
      <div class="dropdown-container col-lg-10 col-lg-offset-2">
        <div class="select-main">
          <p>Choose a neighborhood...</p>
        </div>
        <button class="btn btn-warning"id="go">Go</button>
        <div class="dropdown">
          <% @neighborhoods.each do |neighborhood|%>
            <p class="nhd-link" data-link="<%= neighborhood.name %>"><%= neighborhood.display_name %></p>
          <% end %>
        </div>
      </div>
  </div>
</div>


<div class='container text-center'>
  <div class="col-lg-6 col-lg-offset-7">
    <div id="map-canvas"></div>
  </div>
</div>
