<!-- neighborhood text selections/links -->
<%= javascript_include_tag "map" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="title-home">Select a Seattle Neighborhood for more information:</h2>
      <div class="dropdown-container col-lg-6">
        <div class="select-main">
          <p>Choose a neighborhood...</p>
        </div>
        <button class="btn btn-warning" id="go">Go</button>
        <div class="dropdown">
          <% @neighborhoods.each do |neighborhood|%>
            <p class="nhd-link" data-link="<%= neighborhood.name %>"><%= neighborhood.display_name %></p>
          <% end %>
        </div>
      </div> <!--dropdown-container-->
    </div> <!--col-6-->
    <div class="col-lg-6 index-map">
      <div id="map-canvas"></div>
    </div>
  </div> <!--row-->
</div>
