<!-- neighborhood text selections/links -->
<%= javascript_include_tag "map" %>

<h2>Select a Seattle Neighborhood for more information:</h2>
<div class="dropdown-container">
  <div class="select-main">
    <p>Click here for neighborhoods</p>
  </div>
  <button id="go">Go</button>
  <div class="dropdown">
    <% @neighborhoods.each do |neighborhood|%>
      <p class="nhd-link" data-link="<%= neighborhood.name %>"><%= neighborhood.display_name %></p>
    <% end %>
  </div>
</div>

<div id="map-canvas"></div>

//data
//get data create link
//jquery
//button

