html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

* {
  font-family:'Arimo', sans-serif;
}
#map-canvas {
  width: 500px;
  height: 600px;
  z-index: 1;
  border: 2px solid RGBA(109, 121, 145, .3);
}

#map {
  width: 600px;
  height: 600px;
}

.dropdown-container {
  width: 450px;
}

.select-main {
  border: 2px solid RGBA(109, 121, 145, .3);
  width: 300px;
  display: inline-block;
}

.select-main p {
  margin: 6px;
}

.dropdown {
  border: 2px solid RGBA(109, 121, 145, .3);
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  margin: 0;
  display: none;
  z-index: 10;
  position: absolute;
  background-color: RGBA(255, 255, 255, 1);
}

.nhd-link {
  margin: 0;
  padding: 5px;

}

#go {
  display: inline-block;
}

.highlight {
  background-color: RGBA(228, 228, 228, 1);

}

.title {
  font-size: 30px;
  font-family:'Arimo', sans-serif;
  padding: 10px;
  margin-left:20px;
  float: left;
}

p {
  font-size: 15px;
  font-family:'Arimo', sans-serif;
  color: RGBA(16, 79, 140, 1);
}

.navbar-brand {
  font-size: 30px;
}

.btn  {
  font-family:'Arimo', sans-serif;
}


/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/