#map-canvas {
  width: 700px;
  height: 700px;
}

#map {
  width: 700px;
  height: 700px;
}

.select-main {
  border: 1px solid black;
  padding: 5px;
}

.dropdown {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  overflow: scroll;
  padding: 5px;
}

.nhd-link {
  margin: 0;

}
