html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

/*------------------Typography-------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  color: #F6C124;
}

p {
  font-size: 18px;
  line-height: 21px;
  font-family:'Hind', sans-serif;
  margin-bottom: 20px;
  color: #565a5c;
  font-weight: 400;
}

.title {
  font-size: 50px;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #F6C124;
}
.title-home{
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
  color: #F6C124;
}

.btn  {
  font-family:'Hind', sans-serif;
}
/*----------------nav bar---------------------*/

#new-nav{
  margin-bottom: 40px;
  background-color: white;
}

.navbar-brand {
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
}

.navbar-right{
  font-size: 18px;
  line-height: 21px;
  font-family:'Hind', sans-serif;
  font-weight: 400;
}

/*-----------------Map Styles-----------------*/
#map-canvas {
  width: 500px;
  height: 600px;
  z-index: 1;
  border: 2px solid RGBA(109, 121, 145, .3);
}

#map {
  width: 500px;
  height: 450px;
  border: 2px solid RGBA(109, 121, 145, .3);
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

/*----------------Home page Dropdown---------------------*/
.dropdown-container {
  width: 450px;
  margin-top: 30px;
  padding-left: 0px;
}

.select-main {
  border: 2px solid RGBA(109, 121, 145, .3);
  width: 300px;
  display: inline-block;
}

.select-main p {
  margin: 6px;
}

.dropdown {
  border: 2px solid RGBA(109, 121, 145, .3);
  width: 300px;
  height: 465px;
  overflow-y: scroll;
  margin: 0;
  display: none;
  z-index: 10;
  position: absolute;
  background-color: RGBA(255, 255, 255, 1);
}

.nhd-link {
  margin: 0;
  padding: 5px;

}

#go {
  display: inline-block;
}

.highlight {
  background-color: RGBA(228, 228, 228, 1);

}


/*<----------------------------- show page css------------------------->*/

.container {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 10px;
}
.container-fluid {
  width: 80%;
  margin: 0 auto 0 auto;
}

.right-column {
  float: right;
  width: 40%;
  margin-top: 10px;
  margin-right: 10%;
}

.left-column {
  float:left;
  width: 40%;
}

.map-legend {
  background-color: #f5f5f5;
  width: 500px;
  padding: 3% 5% 0 5%;
}

.map-toggle {
  padding-right: 16px;
  font-family: 'Hind', sans-serif;
  font-weight:500;
  font-size: 16px;
  text-transform: uppercase;
}

input.map-toggle-box {
  margin-left: 7px;
}

button {
  font-family: 'Hind', sans-serif;
  font-weight:500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 2%;
  background-color:white;
  border: solid 1px #d3d3d3;
}
/*------------------about page -------------------*/
.jumbotron{
  width: 50%;
  margin:0 auto;
}
.about-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #F6C124;
  margin-bottom: 30px;
}
.welcome-text {
  text-transform: uppercase;
  text-weight: bold;
  font-size: 20px;
}


/*------------------contact page -------------------*/
.about-us {
  width: 30%;
  height:40%;
  font-family:'Hind', sans-serif;
  font-size: 20px;
}
